<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.ampl.ide"
            name="AMPL">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ampl.ide.Perspective"
            icon="icons/logo16.png"
            id="com.ampl.ide.Perspective"
            name="AMPL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mod,dat,run,ampl"
            id="amplFile"
            name="AMPL File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ampl.ide.editors.AMPLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/ampl_file.gif"
            id="com.ampl.ide.editors.AMPLEditor"
            name="AMPL Editor"
            symbolicFontName="com.ampl.ide.preferences.colorsFonts.editorFont">
         <contentTypeBinding
               contentTypeId="com.ampl.ide.amplFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.ampl.ide.launching.LaunchDelegate"
            id="com.ampl.ide.launching.ampl"
            modes="run, debug"
            name="AMPL"
            public="true" />
      <launchConfigurationType
            delegate="com.ampl.ide.launching.LaunchDelegate"
            id="com.ampl.ide.launching.sampl"
            modes="run, debug"
            name="SAMPL"
            public="true" />
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.ampl.ide.launching.ampl"
            icon="icons/logo16.png"
            id="com.ampl.ide.launchConfigurationTypeImages.ampl" />
      <launchConfigurationTypeImage
            configTypeID="com.ampl.ide.launching.sampl"
            icon="icons/logo16.png"
            id="com.ampl.ide.launchConfigurationTypeImages.ampl" />
   </extension>
   <extension
         id="AMPLDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ampl,sampl,mod,dat,run"
            class="com.ampl.ide.editors.DocumentSetupParticipant"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ampl.ide.views.internal.AMPLPropertyTester"
            id="com.ampl.ide.propertyTester"
            namespace="com.ampl.ide.views.internal"
            properties="matchesPattern"
            type="com.ampl.ide.views.internal.CDEModel.CDEResource">
      </propertyTester>
      <propertyTester
            class="com.ampl.ide.commands.internal.IsNotDirectory"
            id="com.ampl.ide.commands.isNotDirectoryProperty"
            namespace="com.ampl.ide.commands.internal"
            properties="isNotDirectory"
            type="com.ampl.ide.views.internal.CDEModel.CDEResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.ampl.ide.editors.DocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.ampl.ide"
            class="com.ampl.ide.views.CDEView"
            icon="icons/filenav_nav.gif"
            id="com.ampl.ide.CurrDirExplorer"
            name="Current Directory"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.ampl.ide.views.internal.CDEContentProvider"
            id="com.ampl.ide.CurrDirExplorer.content"
            labelProvider="com.ampl.ide.views.internal.CDELabelProvider"
            name="Current Directory Explorer Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.ampl.ide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.ampl.ide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.ampl.ide.CurrDirExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="com.ampl.ide.CurrDirExplorer">
         <includes>
            <contentExtension
                  pattern="com.ampl.ide.CurrDirExplorer.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.ampl.ide.console.AMPLConsoleFactory"
            label="AMPL Console">
      </consoleFactory>
   </extension>
   <extension
         id="com.ampl.ide.preferences.workingDir"
         name="Working Directory Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ampl.ide.WorkingDirInitializer">
      </initializer>
      <initializer
            class="com.ampl.ide.preferences.EnvPathInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ampl.ide.Perspective">
         <viewShortcut
               id="com.ampl.ide.CurrDirExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ampl.ide.cde.refresh"
            name="Refresh">
      </command>
      <command
            id="com.ampl.ide.cde.updir"
            name="Go up one directory">
      </command>
      <command
            id="com.ampl.ide.commands.rename"
            name="Rename">
      </command>
      <command
            id="com.ampl.ide.commands.OpenNewFileWizard"
            name="New File...">
      </command>
      <command
            id="com.ampl.ide.commands.OpenNewFolderWizard"
            name="New Folder...">
      </command>
      <command
            id="com.ampl.ide.commands.delete"
            name="Delete">
      </command>
      <command
            id="com.ampl.ide.commands.amplCommands"
            name="AMPL Commands">
         <commandParameter
               id="com.ampl.ide.commandType"
               name="AMPL Command Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.ampl.ide.commands.resetRestart"
            name="Reset and Restart">
      </command>
      <command
            id="com.ampl.ide.commands.interrupt"
            name="Interrupt">
      </command>
      <command
            id="com.ampl.ide.commands.openExternal"
            name="Open in Another Editor">
         <commandParameter
               id="com.ampl.ide.EditorType"
               name="Editor Type"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.ampl.ide.CurrDirExplorer">
         <command
               commandId="com.ampl.ide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="com.ampl.ide.cde.updir"
               icon="icons/up_nav.gif"
               label="Go up one directory"
               style="push"
               tooltip="Go up one directory">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ampl.ide.CurrDirExplorer">
         <menu
               label="New">
            <command
                  commandId="com.ampl.ide.commands.OpenNewFileWizard"
                  icon="icons/new_file.gif"
                  label="File"
                  style="push">
            </command>
            <command
                  commandId="com.ampl.ide.commands.OpenNewFolderWizard"
                  icon="icons/newfolder_wiz.gif"
                  label="Folder"
                  style="push">
            </command>
         </menu>
         <separator
               name="openFileGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.commands.openExternal"
               label="Open in External Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.commands.internal.isNotDirectory">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="com.ampl.ide.EditorType"
                  value="external">
            </parameter>
         </command>
         <command
               commandId="com.ampl.ide.commands.openExternal"
               label="Open in Text Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.commands.internal.isNotDirectory">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="com.ampl.ide.EditorType"
                  value="text">
            </parameter>
         </command>
         <separator
               name="fileOpsGroup"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="com.ampl.ide.commands.delete"
               icon="icons/delete.gif"
               style="push">
         </command>
         <separator
               name="refactorGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.commands.rename"
               label="Rename"
               style="push"
               tooltip="Rename">
         </command>
         <separator
               name="refreshGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <separator
               name="amplGroup"
               visible="true">
         </separator>
         <menu
               label="AMPL Commands">
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Model"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="model">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Data"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="data">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Include"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="include">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.views.internal.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="AMPL Commands">
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Model"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="model">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Data"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="data">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Include"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="include">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.ampl.ide.editors.AMPLEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?before=outputGroup">
         <command
               commandId="com.ampl.ide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#ContextMenu?after=additions">
         <command
               commandId="com.ampl.ide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ampl.ide.commands.RenameCDEHandler"
            commandId="com.ampl.ide.commands.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.OpenNewFileWizardHandler"
            commandId="com.ampl.ide.commands.OpenNewFileWizard">
      </handler>
      <handler
            class="com.ampl.ide.commands.OpenNewFolderWizardHandler"
            commandId="com.ampl.ide.commands.OpenNewFolderWizard">
      </handler>
      <handler
            class="com.ampl.ide.commands.DeleteHandler"
            commandId="com.ampl.ide.commands.delete">
      </handler>
      <handler
            class="com.ampl.ide.commands.AMPLCommandHandler"
            commandId="com.ampl.ide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.ampl.ide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.ResetRestartHandler"
            commandId="com.ampl.ide.commands.resetRestart">
      </handler>
      <handler
            class="com.ampl.ide.commands.CopyCDEHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.PasteCDEHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.AMPLCommandEditorHandler"
            commandId="com.ampl.ide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.ampl.ide.editors.AMPLEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.InterruptAMPLHandler"
            commandId="com.ampl.ide.commands.interrupt">
      </handler>
      <handler
            class="com.ampl.ide.commands.OpenFileAnotherEditor"
            commandId="com.ampl.ide.commands.openExternal">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.ampl.ide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.themes.ColorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts">
      </page>
      <page
            class="com.ampl.ide.preferences.EnvPathPreferencePage"
            id="com.ampl.ide.preferences.envPathPrefPage"
            name="Search Path">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="com.ampl.ide.preferences.colorsFonts.category"
            label="AMPL">
      </themeElementCategory>
      <fontDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.ampl.ide.preferences.colorsFonts.consoleFont"
            label="Console Font">
         <description>
            The font used by the AMPL console.
         </description>
      </fontDefinition>
      <fontDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.ampl.ide.preferences.colorsFonts.editorFont"
            label="Editor Font">
         <description>
            This font is used by the AMPL editors.
         </description>
      </fontDefinition>
   </extension>
</plugin>
